*{
    box-sizing: border-box;
}

.card{
    box-shadow: 5px 10px 10px black ;
    transition: all 1s ease;
}

.card:hover{
    transform:scale(1.05)
}

.head{
    background-color: black;
    color:white;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 30px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: sticky;
    top:0px;
    z-index: 1;
}