*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#library{
    display:grid;
    grid-template-columns:repeat(4,auto);
    row-gap: 1rem;
}

.card{
    box-shadow: 5px 10px 10px black ;
    transition: all 0.5s ease;

}

.card:hover{
    transform:scale(1.05)
}

.head{
    background-color: black;
    color:white;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 30px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: sticky;
    width: 100%;
    top:0px;
    z-index: 1;
}

.image{
    height: 200px;
}

.btn{
    position:relative;
    bottom:0%;
}

.card-body{
    padding-left: 1rem;
}


/* not done yet */
@media only screen and (max-width: 280px) {
    body {
      background-color: lightblue;
    }
    .head{
        height:50px;
        position: sticky;
        width:100%;
    }
    #library{
        display:grid;
        grid-template-columns:repeat(1,auto);
        align-items: center;
     }
  }