*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    display: flex;
    justify-content: center;
    margin:5rem;
    margin-top:0;
}

body{
    
}

.head{
    background-color: black;
    color:white;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 30px;
    position: sticky;
    z-index: 1000;
    top: 0px;

    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* width: 100%; */
    
}


#library{
    display:grid;
    grid-template-columns:repeat(3,auto);
    column-gap:10rem;
    row-gap: 2rem;;
}

.card{
    box-shadow: 5px 10px 10px #000000 ;
    transition: all 0.5s ease;
    border-radius: 20px;
    overflow: hidden;
    
}

.card:hover{
    transform:scale(1.05)
}

.card img{
    height: 200px;
}

.btn{
    position:relative;
    bottom:0%;
}

@media only screen and (max-width:800px) {
    
    #library{
        display:grid;
        grid-template-columns:repeat(2,auto);
        gap:1rem;
    }

    body{
        background-color: lightgrey;
    }
    
}

/* not done yet */
@media only screen and (max-width: 450px) {
    :root{
        margin:0;
    }
    body {
      background-color: lightblue;
    }
    .head{
        height:50px;
    }
    #library{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }

     .card{
        margin-bottom: 1rem;
     }
  }